body{
	font-family: Microsoft JhengHei, 微軟正黑體;
}

#title{
	font-family: Montserrat;
	font-weight:bold;
	font-size: 36px;
	text-align: center;
	margin: 20px;
	color:#FFFFFF;
}

#testinput-blk{
	margin:10px 0;
}

.test-btn{
	font-family: Microsoft JhengHei;
	font-weight:bold;
	margin:5px;
}

#input-blk{
	margin:10px 0;
}

#test-data{
	font-family: Microsoft JhengHei;
	resize: none;
}

#info-blk{
	font-weight:bold;
	background: #E0FFFF;
	padding: 25px;
	border-radius: 26px;
	font-size:16px;
	color:#0000AA;
}

#spinner{
	text-align:center; 
	padding:120px 0;
}

.result-blk{
	margin: 5px 0px;
}

#resultblk-title{
	font-weight:bold;
	font-size:20px;
	color:#4376DB;
}

.result-blk .result-card{
	border: 0;
	padding: 5px 40px;
	background: #B7CBF4;
	background-size: 100% 100%;
	border-radius: 15px;
	height:200px;
}

.result-blk .result-card .result-rank{
	background: #4376DB;
	color: #FFFFFF;
	padding: 10px 20px;
	position: absolute;
	top:30px;
	left:0;
	height:auto;
	width:auto;
	z-index:10;
	font-family:'cooper black';
}

.result-blk .result-card .result-title{
	font-weight:bold;
}

.result-blk .result-card .result-lyrics{
	font-size:12px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp:9;
	-webkit-box-orient:vertical;
}

/*
.result-blk .result-card .result-title{
	background: #6C3483;
	opacity: 0.8;
	color: #FFFFFF;
	padding: 10px 20px;
	position: absolute;
	bottom:30px;
	left:15px;
	height:auto;
	width:90%;
	z-index:10;
	font-family:'微軟正黑體';
	
	text-overflow: ellipsis;
	// Required for text-overflow to do anything
	white-space: nowrap;
	overflow: hidden;
}
*/
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.result-blk .result-card .result-title{
		font-weight:bold;
		margin: 0 20px 20px 20px;
	}
	
	.result-blk .result-card {
		padding: 15px 10px;
		height:400px;
	}
	
	.result-blk .result-card .result-lyrics{
		margin: 10px 0;
		font-size:12px;
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp:9;
		-webkit-box-orient:vertical;
	}
	
	.video-display{
		width:100%;
	}
}